@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

$pr-color:rgba(245, 110, 30, 1);
$text-color:rgba(110, 113, 145, 1);
$title-color:rgba(78, 75, 102, 1);
$gray:rgba(241, 241, 241, 1);
$site-font:"Golos Text", sans-serif;
$border-color:rgba(160, 163, 188, 1);